@import url(https://fonts.googleapis.com/css?family=Inter:regular,500,600,700,800);
@import url(https://fonts.googleapis.com/css?family=Crimson+Text:700);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@keyframes spreading-apart {
  7.5% {
    width: 100%;
  }
  25% {
    width: 0%;
  }
  75% {
    width: 0%;
  }
  90% {
    width: 100%;
  }
}

@keyframes fade-in {
  0% {
    transform: scale(0.8);
    opacity: 0.2;
  }
  30% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes scrolling-left {
  0% {
    transform: translate(calc(-80% - 0.5rem));
    opacity: 0.2;
  }
  25% {
    transform: translate(0);
    opacity: 1;
  }
}

@keyframes scrolling-right {
  0% {
    transform: translate(calc(80% + 0.5rem));
    opacity: 0;
  }
  25% {
    transform: translate(0);
    opacity: 1;
  }
}

body {
  background-color: #222220;
  overflow-x: hidden;
}

img {
  width: 100%;
}

.header {
  width: 100%;
  position: fixed;
  top: 1rem;
  background: #ffffff4d;
  backdrop-filter: blur(2.5px);
  border-top: 2px solid #aaa;
  border-bottom: 2px solid #aaa;
  z-index: 1000;
  display: none;
}

.banner {
  width: 100%;
  height: 100vh;
  min-height: 100svh;
  padding: 22.4% 0;
  background-image: url(../img/banner/banner-bg_img.png);
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: right center;
}

.banner__text-block {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.banner__container {
  height: 13%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: stretch;
  align-items: flex-end;
}

.banner__social {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.banner__social > img {
  width: 2rem;
  cursor: pointer;
}

.banner__logo > img {
  height: 48px;
}

.banner__title {
  color: #f90;
  text-align: right;
  font-family: "Inter", sans-serif;
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.banner__text {
  color: #f90;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
}

.about,
.servise,
.review,
.contact {
  width: 100%;
  min-height: 100vh;
  padding: 22.4% 0;
}

.about {
  background-color: #282828;
}

.servise,
.contact {
  background-color: #222220;
}

.review {
  background-color: #fdfdfd;
}

.about__wrapper,
.service__wrapper,
.review__wrapper,
.contact__wrapper {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column-reverse;
  gap: 2rem;
}

.review__wrapper,
.contact__wrapper {
  flex-direction: column;
}

.about__img,
.service__img-block,
.contact__img {
  width: 100%;
  position: relative;
}

.about__img > img {
  border: 2px solid #282828;
}

.service__img-block > img {
  border: 2px solid #222220;
}

.contact__img > img {
  border: 2px solid #222220;
}

.about__text-block,
.service__text-block {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  gap: 1.875rem;
}

.about__title,
.service__title,
.review__title,
.contact__title {
  color: #f90;
  text-align: right;
  font-family: "Inter", sans-serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  z-index: 3;
}

.about__title,
.contact__title {
  animation: scrolling-right linear;
  animation-timeline: view();
}

.review__title {
  text-align: center;
  animation: scrolling-right linear;
  animation-timeline: view();
}

.service__title-sml,
.contact__title-sml {
  color: #f90;
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
  padding-bottom: 1rem;
  z-index: 3;
  animation: scrolling-left linear;
  animation-timeline: view();
}

.about__text,
.service__text,
.review__text,
.contact__text {
  color: #cdcdcd;
  text-align: right;
  font-family: "Inter", sans-serif;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 1rem;
}

.service__text,
.contact__text {
  text-align: left;
}

.review__text {
  color: #000;
  text-align: justify;
}

.about__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f90;
  padding: 0.5rem 1rem;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
  z-index: 3;
  animation: fade-in linear;
  animation-timeline: view();
}

.review__card-grp {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
}

.review__card {
  display: flex;
  width: 100%;
  padding: 1rem;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  border-radius: 10px;
  border: 2px solid #f90;
  background: #fff;
  box-shadow: 1rem 1rem 2rem 0px #00000040;
  z-index: 5;
  animation: fade-in linear;
  animation-timeline: view();
}

.review__stars {
  display: flex;
  justify-content: center;
  align-items: center;
}

.review__stars > img {
  width: 1.5rem;
}

.review__name {
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.review__img {
  width: 4rem;
  height: 4rem;
}

.damper__about,
.damper__service,
.damper__contact {
  position: absolute;
  top: 0;
  background-color: #282828;
  width: 100%;
  height: 100%;
  z-index: 5;
  animation: spreading-apart linear;
  animation-timeline: view();
}

.damper__contact,
.damper__service {
  background-color: #222220;
}

@media (min-width: 600px) {
  .header {
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header__wrapper {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header__btn-grp {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.375rem;
  }
  .header__logo > img {
    height: 1.5rem;
  }
  .header__btn {
    color: #f90;
    font-family: "Inter", sans-serif;
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
  }
  .header__btn > img {
    width: 1rem;
  }
  .banner {
    padding: 7% 10%;
  }
  .banner__text-block {
    width: 66%;
    margin: 0 auto 0 0;
  }
  .banner__container {
    height: 23%;
  }
  .about,
  .servise,
  .review,
  .contact {
    padding: 7% 0;
  }
  .about__wrapper,
  .service__wrapper,
  .review__card-grp,
  .contact__wrapper {
    flex-direction: row;
  }
  .review__card-grp {
    justify-content: center;
    align-items: stretch;
  }
  .about__img,
  .service__img-block,
  .contact__img {
    width: 45%;
  }
  .about__img {
    margin-top: 7.5%;
  }
  .service__img-block > img,
  .contact__img > img {
    margin-top: 10%;
  }
  .about__text-block,
  .service__text-block,
  .contact__text-block {
    width: 50%;
  }
}

@media (min-width: 1200px) {
  .header {
    height: 4rem;
  }
  .header__wrapper,
  .about__wrapper,
  .service__wrapper,
  .review__wrapper,
  .contact__wrapper {
    max-width: 1440px;
  }
  .header__logo {
    font-size: 3.75rem;
    line-height: 3.1rem;
  }
  .header__logo > img {
    height: 2.5rem;
  }
  .header__btn {
    font-size: 1.5rem;
  }
  .banner {
    padding: 7% 5%;
  }
  .banner__text-block {
    width: 45%;
  }
  .banner__logo {
    font-size: 6rem;
  }
  .banner__title {
    font-size: 3.75rem;
  }
  .banner__text {
    font-size: 2rem;
  }
  .banner__social > img {
    width: 1.5rem;
  }
  .about__text,
  .service__text,
  .review__text {
    font-size: 1.5rem;
  }
  .about__btn {
    align-self: start;
  }
}
