@import url(https://fonts.googleapis.com/css?family=Inter:regular,500,600,700,800);
@import url(https://fonts.googleapis.com/css?family=Crimson+Text:700);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #222220;
}

.header {
  width: 100%;
  position: fixed;
  top: 1rem;
  background: #ffffff4d;
  backdrop-filter: blur(2.5px);
  border-top: 2px solid #aaa;
  border-bottom: 2px solid #aaa;
  display: none;
}

.banner {
  width: 100%;
  height: 100vh;
  min-height: 100svh;
  padding: 22.4% 0;
  background-image: url(../img/banner/banner-bg_img.png);
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: right center;
}

.banner__text-block {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.banner__container {
  height: 13%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: stretch;
  align-items: flex-end;
}

.banner__social {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.banner__logo {
  color: #f90;
  text-align: center;
  font-family: "Crimson Text", serif;
  font-size: 4rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration-line: underline;
}

.banner__title {
  color: #f90;
  text-align: right;
  font-family: "Inter", sans-serif;
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.banner__text {
  color: #f90;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
}

.about,
.servise {
  width: 100%;
  min-height: 100vh;
  padding: 22.4% 0;
  background-color: #282828;
}

.servise {
  background-color: #222220;
}

.about__wrapper,
.service__wrapper {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column-reverse;
  gap: 2rem;
}

.about__img,
.service__img-block {
  width: 100%;
}

.about__img > img,
.service__img-block > img {
  width: 100%;
}

.about__text-block,
.service__text-block {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  gap: 1.875rem;
}

.about__title,
.service__title {
  color: #f90;
  text-align: right;
  font-family: "Inter", sans-serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.service__title-sml {
  color: #f90;
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
  padding-bottom: 1rem;
}

.about__text,
.service__text {
  color: #cdcdcd;
  text-align: right;
  font-family: "Inter", sans-serif;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.service__text {
  text-align: left;
}

.about__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f90;
  padding: 0.5rem 1rem;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
}

@media (min-width: 600px) {
  .header {
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header__wrapper {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header__btn-grp {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.375rem;
  }
  .header__logo {
    color: #fff;
    font-family: "Crimson Text";
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.6rem;
    text-decoration: none;
    border-bottom: 2px solid #fff;
  }
  .header__btn {
    color: #fff;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
  }
  .banner {
    padding: 7% 10%;
  }
  .banner__text-block {
    width: 66%;
    margin: 0 auto 0 0;
  }
  .banner__container {
    height: 23%;
  }
  .about,
  .servise {
    padding: 7% 0;
  }
  .about__wrapper,
  .service__wrapper {
    flex-direction: row;
  }
  .about__img,
  .service__img-block {
    width: 45%;
  }
  .about__img {
    margin-top: 7.5%;
  }
  .service__img-block > img {
    margin-top: 10%;
  }
  .about__text-block,
  .service__text-block {
    width: 50%;
  }
}

@media (min-width: 1200px) {
  .header {
    height: 4rem;
  }
  .header__wrapper {
    max-width: 1440px;
  }
  .header__logo {
    font-size: 3.75rem;
    line-height: 3.1rem;
    border-bottom: 4px solid #fff;
  }
  .header__btn {
    font-size: 1.5rem;
  }
  .banner {
    padding: 7% 5%;
  }
  .banner__text-block {
    width: 45%;
  }
  .banner__logo {
    font-size: 6rem;
  }
  .banner__title {
    font-size: 3.75rem;
  }
  .banner__text {
    font-size: 2rem;
  }
  .banner__social > img {
    width: 1.5rem;
  }
  .about__text,
  .service__text {
    font-size: 1.5rem;
  }
  .about__btn {
    align-self: start;
  }
}
